#### Multiply 10 with 5, and print the result.

In [ ]:
print(10 * 5)

### Divide 10 by 2, and print the result.

In [1]:
print(10/2)

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [3]:
fruits = ["apple", "banana", "kiwi"]
print("apple" in fruits)

False

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [4]:
print(5 != 10)

True

### Use the correct logical operator to check if at least one of two statements is `True`.

In [5]:
print(True or False)

True

### Print the second item in the fruits list.

In [7]:
fruits = ["apple", "banana", "kiwi"]
print(fruits[1])

banana

### Change the value from "apple" to "kiwi", in the fruits list.

In [8]:
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'kiwi']

### Use the append method to add "orange" to the fruits list.

In [15]:
fruits.append("orange")
print(fruits)

['kiwi', 'banana', 'kiwi', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [16]:
fruits.insert(3, "lemon")

### Use the remove method to remove `"banana"` from the fruits list.

In [17]:
fruits.remove("banana")
print(fruits)

['kiwi', 'kiwi', 'lemon', 'orange']

### Use negative indexing to print the last item in the list.

In [18]:
print(fruits[-1])

orange

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [19]:
list_one = [1,2,3,4,5,6,7]
print(list_one[2:5])

[3, 4, 5]

### Use the correct syntax to print the number of items in the list.

In [20]:
print(len(list_one))

7

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [23]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527]

for x in numbers:
    if x % 2 == 0:
        print(x)
    if x == 237:
        break

386
462
418
344
236
566
978
328
162
758
918

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [25]:
base = int(input("Enter the length of the base: "))
height = int(input("Enter the length of the height: "))
area = 0.5 * base * height
print("The area equals: ", area)

Enter the length of the base: 4
Enter the length of the height: 4
The area equals:  8.0

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

### Sort three integers :using conditional statements

In [27]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

if a > b:
    a,b = b,a
if a > c:
    a,c = c,a
if b > c:
    b,c = c,b
print(a, "<", b, "<", c)

Enter the first number: 5
Enter the second number: 4
Enter the third number: 6
4 < 5 < 6

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [29]:
list_one = [1,2,3,4,5,6,7,8,9,10]
print(len(list_one) == len(set(list_one)))

True

#### Dictionary

In [ ]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [ ]:
sum([0,1,2,3,4,5])
sum((0,1,2,3,4,5))
sum({0,1,2,3,4,5})
sum({5:5,10:11})

15

### Python program to find the sum of all values in a dictionary

In [2]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
print(sum(dict1.values()))

600

### Filter the negative values from given dictionary

In [44]:
dict1 = {'a': -100, 'b': 200, 'c': 300}
dict2={}
for k,v in dict1.items():
    if v>0:
        dict2.update({k:v})
print(dict2)

{'b': 200, 'c': 300}

### Test if all Values are Same in Dictionary

In [19]:
dict1 = {'a': 100, 'b': 100, 'c': 200}
print (len(set(dict1.values())) == 1)

False

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

# `any`

In [11]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [17]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='gold'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

### Test if vlaue input  in dictionary value

In [57]:
mydict = {0 : 5, 1 : 3, 2 : 7}
user_input = int(input("Enter a value to check: "))
print(user_input in mydict.values())

Enter a value to check: 7
True

### Calculate the sum of all numbers from 0 to a given number

In [25]:
def adding(number):
    x = 0
    Sum = 0
    while x <= number:
        Sum += x
        x += 1
    return Sum
number = int(input("Enter a number: "))
print(adding(number))

Enter a number: 5
15

### Find the factorial of a given number using while loop

In [27]:
def factorial(number):
    if number == 1 or number == 0:
        return 1
    else:
        return(number * factorial(number - 1))
number = int(input("Enter a number: "))
print(factorial(number))

Enter a number: 5
120

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [28]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
x = 1
while x < len(my_list):
    print(my_list[x])
    x += 2

20
40
60
80
100

### Calculate the cube of all numbers from 1 to a given number

In [46]:
def cube (number):
    x = 1
    while x <= number:
        print(f"The cube of {x} is {x ** 3}")
        x += 1
number = int(input("Enter a number: "))
cube(number)

Enter a number: 5
The cube of 1 is 1
The cube of 2 is 8
The cube of 3 is 27
The cube of 4 is 64
The cube of 5 is 125

### len of str in list
### ['apple', 'orange', 'cat']

In [ ]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string

In [53]:
def count_vowels(s):
    vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
    vowel_count = 0
    for char in s:
        if char in vowels:
            vowel_count += 1
    return vowel_count
input_string = input("Enter a string: ")
print(count_vowels(input_string))

Enter a string: aee
3


### Write a Python program to add an item to a tuple.

In [49]:
tuple_1 = (1, 2, 3, 4, 5)
list_1 = list(tuple_1)
item = input("Enter an item to append: ")
list_1.append(item)
tuple_1 = tuple(list_1)
print(tuple_1)

Enter an item to append: 9
(1, 2, 3, 4, 5, '9')

### Write a Python program to multiply all the items in a list.

In [55]:
def product (my_list):
    x = 0
    product = 1
    while x < len(my_list):
        product = product * my_list[x]
        x += 1
    return product
list1 = [1,2,3,4]
print(product(list1))

24

### Write a Python program to get the smallest number from a list.

In [52]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(min(my_list))

10

### Write a Python program to get the largest number from a list.

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(max(my_list))

### Write a Python program to clone or copy a list

In [59]:
original_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
copy_list = original_list.copy()
print(copy_list)
print (copy_list is original_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
False

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [64]:
s = set([0, 1, 3, 4, 5])

list_s = list(s)
item = 3
list_s.remove(item)
s = set(list_s)
print(s)

{0, 1, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [66]:
s = set([0, 1, 3, 4, 5])
print(f"Max is {max(s)}")
print(f"Min is {min(s)}")

Max is 5
Min is 0

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [77]:
tuple1 = ("name", "age", "city","city")
dict1 = dict(enumerate(tuple1))
print(dict1)

{0: 'name', 1: 'age', 2: 'city', 3: 'city'}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [69]:
Sample_list= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [76]:
re=[(x,y,100)for x,y,z in Sample_list]
print(re)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]